<h1>Schedules#morning_trucks</h1>
<p>Find me in app/views/schedules/morning_trucks.html.erb</p>

<% @schedules.each do |schedule| %>
<%= schedule.truck.name %> at <%= schedule.landmark.name %><br />
<% end %>
